{% extends 'base.html' %}

{% block content %}
	<div class="container-right">
		<div class="card-header">

	       		<h5 class="text-center" >Finance for {{close}} </h5>
	      </div>
	     
	      	<table style="width: 90%">
					<tr>
						<th>AMOUNT</th>
						<th>DATE PAID</th>
						<th>TOTAL</th>
						<th>CURRENT MONTH ARREAS</th>
						
						                
					</tr>
						 {% for prod in s_p %}
					<tr>       
							        
						<td>{{prod.contribution}}</td>      
						<td>{{prod.date_of_contribution}}</td>
						<td>{{prod.total}}</td>
						<td>{{prod.balance}}</td>					
						
						                             
					</tr>		    
						{% endfor %}
				</table>      
		
	</div>
		
{% endblock %}